/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$blue: #3D79D0;

html * {
    font-family: Happy Monkey;
}

body {
    width: 960px;
    margin: 50px auto 0px;
    text-align: center;
}

header {
    padding: 20px;
    background: $blue;
    color: white;
    font-size: 2em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    border-bottom: solid 1px $blue;
}

.student-list {
    float: left;
    width: 50%;
    padding-bottom: 0.5em;
}

.keepapart-list {
    float: left;
    width: 50%;
}

.doGrouping {
    padding-top: 1.5em;
    clear: left;
    button, input, label {
        font-size: 1.2em;
    }
}

.groupHolder {
    .group {
        display: inline-block;
        vertical-align: top;
        padding: 1em;
    }
}